{% extends "layout/main.twig" %}

{% block body_extra_class %} raqam-account-page raqam-ac-orders{% endblock %}
{% block title %} main {% endblock %}
{% block main_content %}


    <div class="account-content">
        {% include 'customers/account/partials/sidemenu.twig' %}

        <div class="account-layout">

            <div class="account-head mb-10">
                <span class="back-icon"><a href="/customer/account/profile"><i class="icon icon-menu-back"></i></a></span>
                <span class="account-heading">
                    {{ ('shop::app.customer.account.order.index.title'|trans) }}
                </span>

                <div class="horizontal-rule"></div>
            </div>

            <div class="account-items-list">
                <div class="account-table-content">

                    <div class="table">
                        <div class="grid-container">
                            <div class="datagrid-filters">
                                <div class="filter-left"></div>
                            </div>
                            <table class="table">
                                <!---->
                                <thead>
                                    <tr style="height: 65px;">
                                        <th class="grid_head">
                                            {{ ('shop::app.customer.account.order.index.order_id'|trans) }}
                                        </th>
                                        <th class="grid_head">
                                            {{ ('shop::app.customer.account.order.index.date'|trans) }}
                                        </th>
                                        <th class="grid_head">
                                            {{ ('shop::app.customer.account.order.index.total'|trans) }}
                                        </th>
                                        <th class="grid_head">
                                            {{ ('shop::app.customer.account.order.index.status'|trans) }}
                                        </th>
                                        <th class="grid_head">
                                            {{ ('ui::app.datagrid.actions'|trans) }}
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% set orders = getFunction('dataTableOrder') %}
                                    {% for order in orders %}
                                    <tr>
                                        <td data-value="Order Id">{{order.id}}</td>
                                        <td data-value="Date">{{order.created_at}}</td>
                                        <td data-value="Total">SAR&nbsp;1.2</td>
                                        <td data-value="Status" class="phone-fix">
                                            {% if order.status == 'processing' %}
                                                <span class="badge badge-md badge bg-success">{{ 'shop::app.customer.account.order.index.processing' | trans }}</span>
                                            {% elseif order.status == 'completed' or order.status == 'processed' %}
                                                <span class="badge badge-md badge bg-success">{{ 'shop::app.customer.account.order.index.completed' | trans }}</span>
                                            {% elseif order.status == 'canceled' %}
                                                <span class="badge badge-md badge bg-danger">{{ 'shop::app.customer.account.order.index.canceled' | trans }}</span>
                                            {% elseif order.status == 'closed' %}
                                                <span class="badge badge-md badge bg-info">{{ 'shop::app.customer.account.order.index.closed' | trans }}</span>
                                            {% elseif order.status == 'pending' %}
                                                <span class="badge badge-md badge bg-warning">{{ 'shop::app.customer.account.order.index.pending' | trans }}</span>
                                            {% elseif order.status == 'pending_payment' %}
                                                <span class="badge badge-md badge bg-warning">{{ 'shop::app.customer.account.order.index.pending-payment' | trans }}</span>
                                            {% elseif order.status == 'fraud' %}
                                                <span class="badge badge-md badge bg-danger">{{ 'shop::app.customer.account.order.index.fraud' | trans }}</span>
                                            {% endif %}                                                                                       
                                        </td>
                                        <td data-value="Actions" class="actions" style="white-space: nowrap; width: 100px;"><div class="action"><a href="{{ route('admin.sales.orders.view', order.id) }}" ><span class="icon-eye"></span></a></div></td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="pagination">
                            {% if orders is not iterable %}
                                {{ orders|raw }}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

{% endblock %}