
{% extends "layout/main.twig" %}

{% block title %} main {% endblock %}
{% block main_content %}
<div class="container content-container">
    <div class="page-main-container blog-archive with-side-menu">
        <div class="section-header section-header--clear mb-4 d-flex">
            <h2 class="section--title"><span>{{ blogs[0]['getUser']['name'] }}</span></h2>
        </div>
        <section>
            <div class="infinite-scroll grid-block grid-block--col-3 grid-block--gap-20">
                {% for blog in blogs %}
                    <div class="post post--col post--short flex-1 ">
                        <a class="post__img" href="/blog/{{ blog.company_id }}/{{ blog.meta_url }}">
                            {% if blog.image %}                            
                                <img src="{{ storage_url ~ (blog.image) }}"
                                    alt="{{ blog.name }}" aria-label="{{ blog.name }}">
                            {% else %}
                                <img src="https://twsaa.com/admin-themes/mbotiq/assets/images/placeholder.png"
                                    alt="{{ blog.name }}" aria-label="{{ blog.name }}">
                            {% endif %}
                        </a>
                        <div class="post__body">
                            <a href="/blog/{{ blog.company_id }}/{{ blog.meta_url }}" class="post__title">
                                <h3>{{ blog.name }}</h3>
                            </a>
                            <p>{{ blog.description|raw }}</p>
                            <div class="post__meta text-muted mt-10">
                                <span class="post__meta__item mr-10">
                                    <i class="sicon-user mr-5"></i>
                                    <a href="/blogs/author/{{ blog.author_name }}"
                                        class="post-author">{{ blog.author_name }}</a>
                                </span>
                                <span class="post__meta__item post-date mr-5">
                                    <i class="sicon-calendar-alt mr-5"></i>
                                    {{ blog.created_at }}</span>
                                <span class="d-block w-100 mt-10">
                                    {{ ('admin::app.admin.blog.category'|trans) }}:
                                    {% for category in blog.blog_categories %}
                                        <a href="/blogs/category/{{ category.id }}" class="post-cat">
                                            {{ category.name }}
                                        </a>
                                    {% endfor %}
                                </span>
                            </div>
                        </div>
                    </div>                    
                {% endfor %}
            </div>
            <div class="render" style="text-align:center;display: none">
            </div>
            <div class="page-load-status" style="display: none">
                <div class="infinite-scroll-request">
                    <div class="loader"></div>
                </div>
            </div>
        </section>
    </div>
</div>
{% endblock %}