<div id="block{{ content['setting']['block_id'] }}" class="raqam-block-products">
    {% if content['settings']['products_title'] %}
        <div class="product-group p-15">
            <h3 class="product-group-heading">{{ content['settings']['products_title'] }}</h3>
        </div>
    {% endif %}
    <div id="{{ content['setting']['block_id'] }}" class="mb-20">
        <div class="product-grid-4">
            {% for product in content['settings']['products'] %}
            
                <div class="product-box">
                    <div class="product-card">
                        {% if product['new']  %}                        
                            <div class="sticker new">
                                {{ ('shop::app.products.new'|trans) }}
                            </div>
                        {% endif %}
                    
                        <a href="/{{ product['url_key'] }}"
                            title="{{ product['name'] }}" class="product-a">
                            <div class="product-image">
                                <img src="{{  product.product.base_image_url }}"
                                    onerror="this.onerror=null;this.src='{{ asset_url ~ 'images/placeholders/product-placeholder.svg' }}';"
                                    {# onerror="this['src']='{{ asset_url ~ ('vendor/webkul/ui/assets/images/product/meduim-product-placeholder.png') }}'"  #}
                                    />
                                    {% if product['promotion_title'] %}                                    
                                        <div class="card-promo">{{ product['promotion_title'] }}</div>
                                    {% endif %}
                            </div>
                            <div class="product-information">
                                <div class="product-name">
                                        <span>{{ product['name'] }}</span>
                                </div>
                            </div>
                        </a>
                
                    
                        <div class="product-bottom-row">
                            {{ product.html_price | raw }}
                    
                            <span class="cart-wish-wrap">
                                {% include 'products/wishlist.twig' %}
                            
                                <form id="addToCart-{{ product.product_id }}">
                                    <input type="hidden" name="_token" value="{{ csrf_token() }}">
                                    <input type="hidden" name="product_id" value="{{ product.product_id }}">
                                    <input type="hidden" name="quantity" value="1">
                                    {% set outOfStock = getConfig('config.products.out-of-stock') == '1' %}
    
                                    {% if(outOfStock and not product.saleable) %}
                                    <span class="not-available">{{ ('shop::app.products.out_of_stock'|trans) }}</span>
                                    {% else %}
                                    <button type="button" class="btn addToCart icon-cart border-0" {{ product.saleable ? '' : 'disabled' }} data-id="{{ product.product_id }}"></button>
                                    {% endif %}
                                </form>
                            </span>
    
                        </div>
                    
                    </div>
                </div>
                
            {% endfor %}
        </div>
    </div>
</div>
