<section class="s-block s-block--banners p-left angel_anime animate__ animate__fadeIn mt-40 mb-40 raqam-block-list-items">
    <div class="grid one-row md:grid-cols-{{ content['settings']['items']|length }} grid-flow-row gap-3 sm:gap-8">
        {% for item in content['settings']['items'] %}
            <div class="banner-entry {{ item['name'] ? 'has-overlay with-hover' : '' }} angel_anime animate__ animate__fadeIn" data-wow-delay="0.1s"
                style="visibility: visible; animation-delay: 0.1s;">
                <div class="lazy__bg lazy entered loaded"
                    data-bg="{{ item['image'] }}"
                    data-ll-status="loaded"
                    style="background-image: url(&quot;{{ item['image'] }}&quot;);">
                </div>
                {% if item['image'] %}
                    <img src="{{ item['image'] }}"
                         onerror="this.onerror=null;this.src='{{ asset_url ~ 'images/placeholders/banner-placeholder.svg' }}';"
                         class="d-none" alt="list-item-placeholder-loader" />
                {% endif %}
                {% if item['link'] %}
                    <a href="{{ item['link'] }}" aria-label="link">
                {% endif %}
                {% if item['name'] %}                        
                    <h3 class="text-lg">{{ item['name'] }}</h3>
                {% endif %}
                {% if item['link'] %}
                </a>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</section>
